.sidebar {
  width: 100%;
  height: 100%;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 30px;
  margin: 50px 0;
}

.logo {
  font-size: 2em;
  margin: 100px 0 80px;
  display: inline-block;
  font-weight: var(--fontWeightBold);
}

.sidebar nav ul {
  margin: 0;
  padding: 0;
}

.sidebar nav li {
  list-style-type: none;
  margin-bottom: 20px;
}

.text {
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.5;
}

.navLink {
  composes: text;
  text-transform: uppercase;
}

.navLinkActive {
  composes: navLink;
  font-weight: var(--fontWeightBold);
  opacity: 1;
}

.locales {
  font-size: 0.875em;
}

.locales span {
  display: inline-block;
  margin: 0 0.5em;
  opacity: 0.5;
}

@media (max-height: 800px) {
  .sidebar hr {
    margin: 20px 0;
  }

  .logo {
    margin: 50px 0 30px;
  }
}
