{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb/base",
  "rules": {
    "max-len": ["error", 100],
    "quotes": ["error", "double"],
    "arrow-parens": ["error", "as-needed"],
    "no-console": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
