{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb/base",
  "rules": {
    "quotes": ["error", "double"],
    "arrow-parens": ["error", "as-needed"],
    "no-console": "off",
    "function-paren-newline": "off"
  }
}
