{
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "double"],
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 120],
    "no-console": "off"
  }
}
